<li class="p-3">
  <mat-divider inset></mat-divider>
  <div class="flex items-center mt-4">
    <mat-icon
      class="fill-current text-green-600 -ml-7 mr-1"
      *ngIf="current"
      aria-label="Current Position"
      >fiber_manual_record</mat-icon
    >
    <h3 class="text-xl">{{ title }}</h3>
  </div>
  <p class="text-l text-blue-400 italic">{{ company }}</p>
  <p>
    {{ dateStart | date: 'MMMM yyyy' }} -
    {{ current ? 'Current' : (dateEnd | date: 'MMMM yyyy') }}
  </p>
  <p class="mt-2">{{ description }}</p>
  <div class="p-3" *ngIf="highlights.length > 0">
    <p class="font-semibold mt-5">Highlights:</p>
    <ul class="list-disc">
      <li *ngFor="let highlight of highlights">{{ highlight.value }}</li>
    </ul>
  </div>
</li>
