.info {
  background-color: #d4d8f0;
  padding: 5% 50px;
  display: flex;
  flex-direction: column;
}

.info .cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.info .cards .card {
  width: 300px;
}

.info .info-image {
  height: 150px;
  width: auto;
}

@media screen and (max-width: 900px) {
  #talks-img {
    height: 125px;
  }
}
