.welcome {
  position: relative;
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.welcome .welcome-content-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  pointer-events: none;
  z-index: 100;
  margin-left: auto;
}

.welcome .welcome-content-container .welcome-text-container {
  display: flex;
  color: #b8c1ec;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.welcome .welcome-content-container .welcome-text-container h1 {
  font-size: 6em;
}

.welcome .welcome-content-container .welcome-text-container h2 {
  font-size: 4em;
  text-align: left;
}

.welcome .welcome-content-container .welcome-text-container h1,
.welcome .welcome-content-container .welcome-text-container h2 {
  color: #fffffe;
  margin: 0;
}

.welcome .welcome-content-container .welcome-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  text-align: justify;
}

.welcome a {
  pointer-events: all;
  color: #fffffe;
  text-decoration: none;
}

.welcome .welcome-content-container .talk-photo {
  height: 30%;
  border-radius: 50%;
  margin: 10px;
}

@media screen and (max-width: 900px) {
  .welcome .welcome-content-container {
    flex-direction: column;
  }

  .welcome .welcome-content-container .welcome-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .welcome .welcome-content-container .welcome-text-container h1 {
    font-size: 4em;
  }

  .welcome .welcome-content-container .welcome-text-container h2 {
    font-size: 2em;
    text-align: center;
  }

  .welcome .welcome-content-container .talk-photo {
    height: 25%;
    border-radius: 50%;
    margin: 10px;
  }
}
