---
layout: base
title: "Home"
---
<h2 class="text-3xl text-slate-600 dark:text-slate-300">Background</h2>
<hr class="border-none h-0.5 bg-slate-400" />
{% include "partials/_positions.njk" %}
{% include "partials/_skills.njk" %}
{% include "partials/_education.njk" %}
