.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  width: 100%;
  background-color: #eebbc3;
  padding: 50px 0;
}

.skills-grid {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 0.5fr);
  gap: 20px;
  width: 100%;
  overflow: hidden;
  padding: 0;
}

@media screen and (max-width: 900px) {
  .skills-grid {
    grid-template-columns: repeat(2, 0.5fr);
  }

  #sass-logo {
    grid-column: span 2;
  }
}
