/*
 * Remove template code below
 */

html,
body {
  padding: 0;
  margin: 0;
}

.app {
  font-family: sans-serif;
  min-width: 100%;
  max-width: 100%;
  padding: 0;
}

.app .flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.app header {
  background-color: #143055;
  color: white;

  border-radius: 3px;
}

.app main {
  background-color: #232946;
  height: 100vh;
}

.app p {
  text-align: center;
}

.app h1 {
  text-align: center;
  /* margin-left: 18px; */
  font-size: 6em;
}

.app h2 {
  text-align: center;
  font-size: 4em;
  /* margin: 40px 0 10px 0; */
}

.app .hover-shadow {
  -webkit-box-shadow: 0px 0px 23px 0px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 0px 0px 23px 0px rgba(0, 0, 0, 0.38);
  box-shadow: 0px 0px 23px 0px rgba(0, 0, 0, 0.38);
}
.app .hover-shadow:hover {
  transition: box-shadow 300ms, z-index 300ms, min-height 300ms;
  -webkit-box-shadow: 0px 0px 54px 2px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 0px 54px 2px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 54px 2px rgba(0, 0, 0, 0.7);
  z-index: 100;
}
