<mat-card *ngIf="resume">
  <mat-card-title>Background</mat-card-title>
  <mat-divider inset></mat-divider>
  <mat-card-content class="p-4">
    <app-work-experience [positions]="resume.positions"></app-work-experience>
    <app-skills [skills]="resume.skills"></app-skills>
    <app-education [education]="resume.education"></app-education>
    <app-community [positions]="resume.community"></app-community>
    <app-projects [projects]="resume.projects"></app-projects>
    <app-awards [awards]="resume.awards"></app-awards>
  </mat-card-content>
</mat-card>
