.welcome {
  position: relative;

  height: 100vh;
}

.welcome .welcome-text-container {
  position: absolute;
  display: flex;
  color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  pointer-events: none;
  line-height: 1em;
}
.welcome .welcome-text-container h1 {
  font-size: 6em;
}

.welcome .welcome-text-container h2 {
  font-size: 4em;
}

.welcome .welcome-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.welcome ConfiguredParticles {
  position: absolute;
  height: 100%;
  width: 100%;
}
.welcome a {
  pointer-events: all;
  color: #b8c1ec;
  text-decoration: none;
}
