   <footer class="pt-5 px-8 bg-black">
      <div class="flex justify-center align-center gap-5 m-5">
        <a
          rel="me"
          href="https://indieweb.social/@brenden"
          class="font-extrabold text-xs bg-clip-text transition ease-in-out duration-700 text-slate-300  hover:bg-gradient-to-r from-blue-600 to-violet-300 hover:text-transparent  reduce-motion:transition-none"
        >
          Mastodon
        </a>
        <a href="mailto:contact@brenden.dev" class="font-extrabold text-xs bg-clip-text transition ease-in-out duration-700 text-slate-300  hover:bg-gradient-to-r from-blue-600 to-violet-300 hover:text-transparent  reduce-motion:transition-none">
          Email
        </a>
        <a href="https://poly.me/niedermeyer" class="font-extrabold text-xs bg-clip-text transition ease-in-out duration-700 text-slate-300  hover:bg-gradient-to-r from-blue-600 to-violet-300 hover:text-transparent  reduce-motion:transition-none">
          Polywork
        </a>
      </div>
      <p class="text-primary-light/70 text-center text-[8px]">
        © Brenden Niedermeyer 2023
      </p>
    </footer>
