<div class="p-4 bg-white dark:bg-slate-600 m-3 shadow-md rounded-md border-gray-400 h-min md:sticky md:top-3">
  {% image "https://a.storyblok.com/f/104216/623x623/ed930d31d1/portrait.jpeg", "Brenden", "rounded-full w-28 m-auto shadow-lg mb-4", "200px", "eager" %}
  <h1 class="text-center text-3xl font-bold text-indigo-800 dark:text-indigo-200">Brenden Niedermeyer</h1>
  <div class=" grid-cols-1 lg:grid-cols-[.25fr_.5fr] gap-3  justify-items-center lg:justify-items-start lg:w-3/4 lg:ml-auto hidden md:grid">
    {% for item in storyblok.story.content.contactInfo %}
       {% icon item.icon, "lg:justify-self-end text-slate-500 dark:text-slate-900", 24 %}

       {% if item.link %}
         <a class="text-slate-900 dark:text-slate-300 hover:text-slate-700 " href="{{item.link}}">{{item.value}}</a>
       {% else %}
        <span class="text-slate-900 dark:text-slate-300 ">{{ item.value }}</span>
       {% endif %}
    {% endfor %}
  </div>
  <details class="md:hidden block group">
    <summary class="text-center  text-indigo-800 dark:text-indigo-200  list-none flex items-center justify-center gap-1">
      <span class="transition group-open:rotate-180">
          <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
          </svg>
      </span>
      <span>More Info</span>
     </summary>
    <div class="grid grid-cols-1 lg:grid-cols-[.25fr_.5fr] gap-3  justify-items-center lg:justify-items-start lg:w-3/4 lg:ml-auto mt-2 ">

      {% for item in storyblok.story.content.contactInfo %}
        {% icon item.icon, "lg:justify-self-end text-slate-500 dark:text-slate-700", 24 %}

        {% if item.link %}
          <a class="text-slate-900 dark:text-slate-300 dark:hover:text-slate-100 hover:text-slate-700 " href="{{item.link}}">{{item.value}}</a>
        {% else %}
          <span class="text-slate-900 dark:text-slate-300">{{ item.value }}</span>
        {% endif %}
      {% endfor %}
    </div>
  </details>
</div>
