<mat-card class="md:sticky md:top-1" *ngIf="resume">
  <mat-card-title>
    <div class="flex flex-col items-center">
      <picture *ngIf="imageUrl">
        <source [srcset]="imageUrl" type="image/webp" />
        <img
          [src]="resume.image.filename"
          class="h-40 rounded-full mb-5 border border-gray-200"
          alt="Brenden Niedermeyer"
        />
      </picture>
      <h1 class="text-2xl text-center">Brenden Niedermeyer</h1>
    </div>
  </mat-card-title>
  <mat-card-content class="p-5 flex flex-col justify-center">
    <mat-divider></mat-divider>
    <ul class="no-list">
      <li
        *ngFor="let contactInfo of resume.contactInfo"
        class="m-4 flex justify-center md:justify-start items-center"
      >
        <!-- <div class="flex items-end text-center"> -->
        <mat-icon class="text-gray-400 mr-1">{{ contactInfo.icon }}</mat-icon>
        <p *ngIf="!contactInfo.link; else contactLink">
          {{ contactInfo.value }}
        </p>
        <ng-template #contactLink>
          <a [href]="contactInfo.link" class="md:hover:underline">{{
            contactInfo.value
          }}</a>
        </ng-template>
        <!-- </div> -->
      </li>
    </ul>
  </mat-card-content>
</mat-card>
